footer.footer
    .footer__logo
        img(src='/img/logo-white.png' alt='YoloTours logo')
    ul.footer__nav
        li: a(href='https://atharv6f.github.io/my_portfolio/') About me  
        li: a(href='https://github.com/atharv6f') Contact
        li: a(href='#') Download apps  
        li: a(href='#') Become a guide
        li: a(href='#') Careers
    p.footer__copyright &copy; by Atharv Yeolekar 
    br
    p.footer__copyright &copy;  Thanks Jonas Schmedtmann 
